<nav>
  <a href="/"><img src="/img/kar_logo.png" alt="logo" /></a>
  <ul>
    <div class="nav-links">
      {{#if loggedIn}}
          {{#if public}}
            <li><a href="/public/problem">Problems</a></li>
          {{/if}}
          {{#if employee}}  
            <li><a href="/employee/problem">Manage Problems</a></li>
          {{/if}}
          {{#if admin}}
          <li><a href="/admin/department">Departments</a></li>
          <li><a href="/admin/employee">Employees</a></li>
            <li><a href="/public/problem">Problem</a></li>
          {{/if}}
          <li><a href="/public/schemes">Schemes</a></li>
          <li><a href="/public/about">About</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        {{else}}
          <li><a href="/public/schemes">Schemes</a></li>
          <li><a href="/public/about">About</a></li>
          <li><a href="/auth/login">Login</a></li>
      {{/if}}
    </div>
  </ul>
</nav>