<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>about</title>
</head>
<body>
    {{> nav}}
    <div class="about">
        <div class="abt-container">
            <div class="content-section">
                <div class="abt-title">
                    <h1>About Us</h1>
                </div>
                <div class="abt-content">
                    <h3>Government service portal is built by using hbs template engine, mongoDB, nodeJS and expressJS</h3>
                    <p>This system helps you to manage time by taking your public property related problems and inform it to respective 
                        departmensts and gets you updated about the status of the problem. Now, you can do ur government related problems online, rather going in person.
                    </p>
                </div>
                <div class="social">
                    <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href=""><ion-icon name="paper-plane-outline"></ion-icon></a>
                </div>
            </div>
            <div class="abt-image">
                <img src="/img/profile.webp" alt="profile pic">
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>