<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/register.css">
  <link rel="stylesheet" href="/css/adddepartment.css">
  <link rel="stylesheet" href="/css/addproblem.css">
</head>
<body>
    {{> nav}}
    <div class="login">
        <div class="center">
            <h1>Add scheme</h1>
            <form method="post" action="/admin/addscheme">
              <input type="text" name="name" placeholder="Enter scheme name" required />
              <input type="text" name="description" placeholder="Enter scheme description" required />
              <input type="text" name="url" placeholder="Enter the url of scheme to be added" required/>
              <div class="choose-dept">
                <label for="department">Choose department:</label>
                <select name="department">
                {{#each departments}}
                  <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
                </select>
              </div>    
              <input type="submit" name="submit" value="Submit" >
            </form>
            </div>
        </div>
    </div>
</body>
</html>
