.add-scheme{
    margin-top: 25px;
    display: block;
    margin-left: 80%;
    border: 1px solid white;
    padding: 9px;
    border-radius: 25px;
    transition: 0.4s;
}
.add-scheme-link{
    text-decoration: none;
}

.add-scheme:hover{
    transition: 0.8s;
    scale: 1.1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.delete-scheme{
    padding: 0.5rem 1rem;
    color: red;
    /* text weight */
    font-weight: bold;
    box-shadow: 0;
    border: none;
    border-radius: 1rem;
    background-color: rgb(226, 224, 224);
    transition: 0.4s;
}

.delete-scheme:hover{
    transition: 0.8s;
    scale: 1.1;
}

.delete-link{
    text-decoration: none;
}