<link rel="stylesheet" href="../CSS/schemes.css">
<link rel="stylesheet" href="../CSS/problem.css">
<div id="schemes">
    <div class="schemes-top">
        <p>Submitted problems</p>
         <!-- {{#if userType=="admin" || userType=="public"}}   -->
            <a href="./addproblem.html"> <input type="submit" name="addproblen" id="" value="Add new problem"></a>
        <!-- {{/if}} -->
    </div>
    <table>
        <thead>
            <tr>
                <th>Probelm Type</th>
                <th>Description</th>
                <th>Status</th>
                <th>Contarctor allocated</th>
            </tr>
        </thead>
        <!-- <tbody id="data-output"> -->
        </tbody>
    </table>
    <!-- <script src="../app.js"></script> -->
</div>